.mainimage{
    margin-top: 20px;
}
.mainimage hr {
    border-top: 20px solid #d8413f;
    margin-top: -5px;
}

.booknow{
    background-image: linear-gradient(#ff8f8f, #ff8f8f, #d8413f);
    display: inline-block;
    padding: 5px;
    padding-bottom: 50px;
    margin-left: 200px;
    margin-top: 10px;
}
.learnswallows{
    background-image: linear-gradient(#ff8f8f, #ff8f8f, #d8413f);
    display: inline-block;
    padding: 5px;
    padding-bottom: 50px;
    margin-left: 20px;
}
.whyvisit{
    background-image: linear-gradient(#ff8f8f, #ff8f8f, #d8413f);
    display: inline-block;
    padding: 5px;
    padding-bottom: 50px;
    margin-left: 200px;
    margin-top: 20px;
}
.bestplaces{
    background-image: linear-gradient(#ff8f8f, #ff8f8f, #d8413f);
    display: inline-block;
    padding: 5px;
    padding-bottom: 50px;
    margin-left: 20px;
}
.title {
    display: block;
    text-align: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    font-size:25px;
    margin-left: 10px;
    text-decoration: none;
}

