.loginform{
    display: inline-block;
}
.addtextbox1{
    background-color: #082109;
    color: #ffc422;
    width: 500px;
    height: 50px;
    padding: 5px;
    margin: 2% 0 5% 14%;
    border-radius: 20px;
    display: inline-block;
    font-size: 20px;
}
.title {
    color: #ffc422;
    margin: 0 0 0 17%;
    font-size: 20px;
}  
.create{
    background-color: #c50000;
    color: #ffffff;
    margin: 1% 0 0 45%;
    width: 15%;
    padding: 5px;
    border-radius: 10px;
}