.goback{
    display: block;
    margin-top: 20px;
    margin-left: 160px;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bookbox {
    background-color: #d8413f;
    width: 85%;
    margin-left: 7.5%;
    font-size: 13px;
    color: white;
}
.bookbox h1{
    margin-left: 30px;
    padding: 5px;
}
.bookform{
    margin-left: 200px;
}
.bookform label {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.depart {
    width: 100%;
    min-width: 30ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    float: left;

}
.depart select {
    appearance: none;
    background-color: rgb(231, 231, 231);
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    cursor: inherit;
  }
.depart select::-ms-expand {
    display: none;
}
.dedate {
    width: 100%;
    min-width: 30ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    float: left;
    margin-left: 50px;
}
.dedate input {
    appearance: none;
    background-color: rgb(231, 231, 231);
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    cursor: inherit;
}
.backorno{
    display: block;
    margin-left: 10px;
    margin-top: 20px;
}
.passenger{
    min-width: 30ch;
    max-width: 30ch;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
}
.passenger input{
    appearance: none;
    background-color: rgb(231, 231, 231);
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    cursor: inherit;
    margin-top: 10px;
    float: left;
    display: flex;
}
.sub{
    background-color: #d8413f;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 80px 380px;
    cursor: pointer;
    font-size: 20px;
  }
.line1{
    float: none;
    display: flex;
}
.line2{
    float:none;
    display: flex;
    margin-top: 20px;
}
.line3 {
    float:none;
    display: flex;
    margin-top: 20px;
    margin-left: 0;
}
