.whyvisitbox {
    position: relative;
}
.lazyexplain {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 00px;
    color: white;
    width: 90%;
    margin-left: 70px;
    margin-top: 50px;
}
.lazyexplain h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    margin-left: 30px;
}
.lazyexplain p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 5px;
    font-size: 15px;
    padding: 2px;
    width: 1450px;
    margin-left: 30px;
}
.khalifa{
    margin-left: 180px;
    float: left;
}
.khalifa h1{
    margin-left: 90px;
    font-size: 25px;
}
.khalifa a{
    display: block;
    width: 600px;
    margin-top: 20px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(107, 107, 107);
    word-spacing: 8px;
    font-size: 14px;
    padding: 5px;
}

.al{
    margin-left: 100px;
    float: left;
}
.al h1{
    margin-left: 90px;
    font-size: 25px;
}
.al a{
    display: block;
    width: 600px;
    margin-top: 20px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(107, 107, 107);
    word-spacing: 8px;
    font-size: 14px;
    padding: 5px;
}

.beach{
    margin-left: 180px;
    float: left;
}
.beach h1{
    margin-left: 90px;
    font-size: 25px;
}
.beach a{
    display: block;
    width: 600px;
    margin-top: 20px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(107, 107, 107);
    word-spacing: 8px;
    font-size: 14px;
    padding: 5px;
}

.saeed{
    margin-left: 100px;
    float: left;
}
.saeed h1{
    margin-left: 90px;
    font-size: 25px;
}
.saeed a{
    display: block;
    width: 600px;
    margin-top: 20px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(107, 107, 107);
    word-spacing: 8px;
    font-size: 14px;
    padding: 5px;
    margin-bottom: 100px;
}




