.description {
    position: relative;

}
.experience {
    position: absolute;
    top: 50px;
    width: 1000px;
    margin-left: 13em;
}
.experience h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}
.experience p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(107, 107, 107);
    word-spacing: 8px;
    font-size: 18px;
}
.spacious {
    position: absolute;
    top: 300px;
    width: 400px;
    margin-left: 13em;
}
.spacious img {
    float: left;
    padding: 5px;
}
.reliable {
    position: absolute;
    top: 300px;
    width: 400px;
    margin-left: 48em;
}
.reliable img {
    float: left;
    padding: 5px;
}
.keypoints {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(107, 107, 107);
    word-spacing: 8px;
    margin-top: 10px;
}
.keydescription {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(107, 107, 107);
    word-spacing: 8px;
    font-size: 15px;
}
